* {
    font-size: 10;
    font-family: "Arial";
}

div {
    margin: 3.4px;
}

@media only all and (not handheld) {
    .main {
        text-shadow: 3pt 3pt black;
        font-weight: bold !important;
    }
}

#content + .column {
    color: rgb(20, 20, 20);
    background-color: #763402;
    unrecognized: value;
}

input:not([type="submit"]) {
    border: 1px solid blue;
}

ul > li:first-child {
    color: rgba(1, 1, 1, 0.3);
    background: url("../images/bg.png") 0 0 no-repeat;
}
