// These colors are specific to the theme. Do not use in a package!

@background-color: #e1c69f;

@regular: #000000;

@pun: mix(@background-color, #b37246, 10%);
@operator-color: @pun;
@comment-color: @pun;
@punctuation-color: @pun;
@string-marks: @pun;

@control: #a34404;  // control keywords
@entity: #1c679d;  // function names
@strings: #006131;
@keyword-params: #15278e;
@string-formatting: @keyword-params;
@constant-caps: #8f1212;
@constant-language: @constant-caps;
@constant-numeric: @constant-caps;
@builtins: #7f2acd;
