@paper: #e4ceb1;
@black: #000000;  // primary for regular text, keyword highlighter for code

@brown: #605046;  // primary for code
@lightbrown: mix(@paper, @brown, 45%);  // punctuation color

@red: #b81111;
@dimred: mix(@brown, @red, 50%);

// @purple: #95358f;
// @purple: #7a2b58;
@purple: #852f5f;
@green: #006b48;

@darkblue: #2a3680;
@lightblue: #3b6481;
@dimdarkblue: mix(@brown, @darkblue, 35%);

@orange: #b67922;

@paper-highlight: lighten(@paper, 5%);


// TODO:
// @dimred
// @dimdarkblue
// REMOVE @control
// REMOVE @entity


// syntax ----------------

@plaintext: @black;
@code: @brown;
@control: @black;  // flow control keywords
@keywords: @orange;
@entity: @purple;
@functitle: @purple;  // function names

@operator: @lightbrown;
@punctuation: @lightbrown;
@comment: @lightbrown;

@string: @lightblue;
@number: @green;

@builtins: @dimred;
@self: @dimdarkblue;
@todo: @green;

@assoc-key: @black;
@assoc-value: @brown;

@css-selector: @assoc-key;
@css-property: @dimdarkblue;
@css-important: @dimred;
@css-variable: @purple;
@css-function: @lightblue;
@css-unit: @purple;

@html-text: @brown;
@html-tag: @black;
@html-attr-name: @dimred;
@html-doctype: @purple;

@yaml-entry: @darkblue;

@markdown-heading-1: @red;
@markdown-heading-2: mix(@orange, @red, 50%);
@markdown-heading-3: @orange;
@markdown-heading-4: mix(@green, @orange, 33%);
@markdown-heading-5: mix(@green, @orange, 67%);
@markdown-heading-6: @green;
@markdown-table: @lightblue;
@markdown-inline-code: @purple;
@markdown-punct: @dimred;
@markdown-link: @darkblue;
@markdown-link-text: @lightblue;

@python-docstring-prompt: @green;
@python-formatting: @green;
@python-keyword-argument: @dimdarkblue;
@python-import-all: @dimred;
@python-decorator: @purple;

// editor ----------------

@linter-warning: @lightblue;
@linter-error: @dimred;

@git-line-added: @green;
@git-line-modified: @lightblue;
@git-line-removed: @purple;

@gutter-folding: @purple;
