// These colors are specific to the theme. Do not use in a package!

@background-color: #1d1f21;

@primary: #3bc481;
// @diametral: #ee519e;
@diametral: #ee3e3e;
@regular: #ffe2a2;

@operator-color: mix(@background-color, @regular, 60%);
@comment-color: mix(@background-color, @regular, 60%);
@punctuation-color: mix(@background-color, @regular, 60%);
@string-marks: mix(@background-color, @regular, 60%);

@control: @primary;  // control keywords
@entity: @diametral;  // function names
@strings: mix(@regular, #80c43b, 50%);
@keyword-params: mix(@regular, #b39e14, 50%);
@string-formatting: @keyword-params;
@constant-caps: mix(@regular, #b3b3b3, 40%);
@constant-language: @constant-caps;
@constant-numeric: @constant-caps;
@builtins: mix(@regular, #d78914, 30%);
