@gutter: darken(@background-color, 2%);
@guide: darken(@background-color, 5%);

atom-text-editor {
  .wrap-guide {
    background-color: @guide;
  }

  .indent-guide {
    color: @guide;
  }

  .invisible-character {
    color: @regular;
  }

  .gutter {
    background-color: @gutter;
    color: @comment-color;

    .line-number {
      &.cursor-line {
        background-color: darken(@gutter, 2%);
        color: darken(@comment-color, 5%);
      }

    //   &.cursor-line-no-selection {
    //     color: @syntax-gutter-text-color-selected;
    //   }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @entity;
  }

  .invisible {
    color: @regular;
  }

  .cursor {
    color: @regular;
  }

  .selection .region {
    background-color: darken(@background-color, 8%);
  }
}


// Mini editor

atom-text-editor[mini] .scroll-view {
  padding-left: 1px;
}
