@gutter: darken(@paper, 4%);
@guide: darken(@paper, 5%);
@selection: darken(@paper, 8%);

atom-text-editor {
    background-color: @paper;
    color: @regular;

    .wrap-guide {
        background-color: @guide;
    }

    .indent-guide {
        color: @guide;
    }

    .invisible-character {
        color: @regular;
    }

    .gutter {
        background-color: @gutter;
        color: @lightbrown;

        .line-number {
            &.cursor-line {
                background-color: fade(darken(@gutter, 20%), 15%);
                color: darken(@lightbrown, 5%);
            }
            &.git-line-added {
                border-left-color: @green;
            }
            &.git-line-modified {
                border-left-color: @brown;
            }
            &.git-line-removed:before {
                border-left-color: @red;
            }
        }
    }

    .gutter .line-number.folded,
    .gutter .line-number:after,
    .fold-marker:after {
        color: @entity;
    }

    .invisible {
        color: @regular;
    }

    .cursor {
        border-left: 1.5pt solid @red;
    }
    .selection .region {
        background-color: @selection;
    }
    .bracket-matcher .region{
        background-color: fade(@lightbrown, 20%);
        border: none;
        border-radius: 2pt;
    }
}

atom-text-editor::shadow .highlight {
  &.find-result .region {
    border-color: fade(@lightbrown, 50%);
  }
  &.current-result .region {
    border-color: fade(@lightbrown, 50%);
  }
}

atom-text-editor[mini] .scroll-view {
    padding-left: 1px;
}
