.syntax--storage {
    color: @control;
    &.syntax--type.syntax--java {
        color: @purple;
    }
}

.syntax--control {
    color: @control;
}
.syntax--entity {
    color: @entity;
}
.syntax--operator {
    color: @operator-color;
}
.syntax--keyword {
    &.syntax--operator {
        &.syntax--logical {
            color: @control;
        }
        &.syntax--js, &.syntax--java {
            color: @control;
        }
    }
}
.syntax--punctuation {
    color: @punctuation-color;
}
.syntax--string {
    color: @strings;
    .syntax--format {
        color: @string-formatting;
    }
}
.syntax--comment {
    color: @comment-color;
}
.syntax--docstring {
    color: @comment-color;
    .syntax--flow {
        color: @regular;
    }
}
.syntax--support {
    color: @builtins
}
.syntax--decorator {
    color: @strings;
    text-shadow: none;
}
.syntax--language {
    &.syntax--constant {
        color: @constant-language;
    }
}
.syntax--arguments {
    .syntax--parameter {
        color: @keyword-params;
    }
}
.syntax--lambda {
    color: @control;
    &.syntax--punctuation {
        color: @punctuation-color;
    }
}
.syntax--constant {
    &.syntax--numeric {
        color: @constant-numeric;
    }
    &.syntax--caps {
        color: @constant-caps;
    }
}

// language specific styles

.syntax--shell {
    &.syntax--variable {
        color: @darkblue;
    }
}

.syntax--java {
    &.syntax--method.syntax--body &.syntax--entity {
        color: @darkblue;
    }
}

.syntax--js {
    &.syntax--entity.syntax--name.syntax--function {
        color: @darkblue;
    }
    &.syntax--storage.syntax--function + &.syntax--entity.syntax--name.syntax--function {
        color: @entity;
    }
    &.syntax--new + &.syntax--entity.syntax--name.syntax--type.syntax--instance {
        color: @darkblue;
    }
}

.syntax--ruby {
    &.syntax--keyword.syntax--special-method {
        color: @control;
    }
}

.syntax--rust {
    &.syntax--keyword {
        color: @control;
    }
}

.syntax--go {
    &.syntax--keyword {
        color: @brown;
    }
}

.syntax--css {
    &.syntax--entity {
        color: @brown;
    }
}

.syntax--less {
    &.syntax--variable {
        color: @darkblue;
    }
    &.syntax--function {
        color: @red;
    }
}

.syntax--html {
    &.syntax--tag {
        color: @lightbrown;
    }
    &.syntax--tag.syntax--name {
        color: @red;
    }
    &.syntax--attribute-name {
        color: @brown;
    }
}
