.syntax--storage {
    color: @control;
}

.syntax--control {
    color: @control;
}
.syntax--entity {
    color: @entity;
}
.syntax--operator {
    color: @operator-color;
}
.syntax--keyword {
    &.syntax--operator {
        &.syntax--logical {
            color: @control;
        }
    }
}
.syntax--punctuation {
    color: @punctuation-color;
}
.syntax--string {
    color: @strings;
    // &.syntax--punctuation {
    //     color: @string-marks;
    // }
    .syntax--format {
        color: @string-formatting;
    }
}
.syntax--comment {
    color: @comment-color;
}
.syntax--docstring {
    color: @comment-color;
    .syntax--flow {
        color: @regular;
    }
}
.syntax--support {
    color: @builtins
}
.syntax--decorator {
    color: @strings;
    text-shadow: none;
}
.syntax--language {
    &.syntax--constant {
        color: @constant-language;
    }
}
.syntax--arguments {
    .syntax--parameter {
        color: @keyword-params;
    }
}
.syntax--lambda {
    color: @control;
    &.syntax--punctuation {
        color: @punctuation-color;
    }
}
.syntax--constant {
    &.syntax--numeric {
        color: @constant-numeric;
    }
    &.syntax--caps {
        color: @constant-caps;
    }
}
